<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle1 }}</h2>
  <p class="Announcement-content">{{ announcementBody1 }}</p>
</div>

<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle2 }}</h2>
  <p class="Announcement-content">{{ announcementBody2 }}</p>
</div>

<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle3 }}</h2>
  <p class="Announcement-content">{{ announcementBody3 }}</p>
</div>

<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle4 }}</h2>
  <p class="Announcement-content">{{ announcementBody4 }}</p>
</div>

<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle5 }}</h2>
  <p class="Announcement-content">{{ announcementBody5 }}</p>
</div>

<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle6 }}</h2>
  <p class="Announcement-content">{{ announcementBody6 }}</p>
</div>

<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle7 }}</h2>
  <p class="Announcement-content">{{ announcementBody7 }}</p>
</div>

<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle8 }}</h2>
  <p class="Announcement-content">{{ announcementBody8 }}</p>
</div>

<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle9 }}</h2>
  <p class="Announcement-content">{{ announcementBody9 }}</p>
</div>

<div class="announcement-card">
  <h2 class="announcement-title">{{ announcementTitle10 }}</h2>
  <p class="Announcement-content">{{ announcementBody10 }}</p>
</div>