.main-content{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:50px;
}

.announcement-section{
    width:100%;
    max-width:900px;
    margin-top:50px;
}

.announcement-section h2{
    text-align:center;
    color:#1565d8;
    margin-bottom:30px;
}